<ul class="pager">
	<li><a title="Go to previous page" class="pager-toggle" href="#"><i class="ss-icon right">left</i>Previous</a></li>
	<li><a title="Go to page 1" id="you-are-here">1</a></li>
	<li><a title="Go to page 2" href="#">2</a></li>
	<li><a title="Go to page 3" href="#">3</a></li>
	<li><a title="Go to page 4" href="#">4</a></li>
	<li>…</li>
	<li><a title="Go to page 6" href="#">16</a></li>
	<li><a title="Go to next page" class="pager-toggle" href="#">Next<i class="ss-icon left">right</i></a></li>
</ul>