<ul class="illo-list rule-above">
  <li class="illo-list-item">
    <img class="illo-list-image" src="{{ site.baseurl }}/assets/img/global/2x1-1.jpg"/>
    <div class="illo-list-text">
      <h3 class="list-item-title"><a href="#">President proposes historic investment in early childhood education</a></h3>
      <p class="source"><i class="ss-icon metadata-icon">news</i>www.atlantic.com</p>  
    </div>
  </li>

  <li class="illo-list-item">
    <img class="illo-list-image" src="{{ site.baseurl }}/assets/img/global/2x1-2.jpg"/>
    <div class="illo-list-text">
      <h3 class="list-item-title"><a href="#">Ounce of Prevention Fund Explores Early Learning Issues in New Policy Conversations Series</a></h3>
      <p class="source"><i class="ss-icon metadata-icon">news</i>Ounce PR Dept.</p>
    </div>
  </li>

  <li class="illo-list-item">
    <img class="illo-list-image" src="{{ site.baseurl }}/assets/img/global/2x1-3.jpg"/>
    <div class="illo-list-text">
      <h3 class="list-item-title"><a href="#">Renowned expert on early brain development to speak at Ounce of Prevention Fund luncheon</a></h3>
      <p class="source"><i class="ss-icon metadata-icon">news</i>www.cnn.com</p>
    </div>
  </li>         
</ul>