<ul class="illo-list">
  <li class="illo-list-item staff-list">
    <img class="illo-list-image" src="{{ site.baseurl }}/assets/img/global/1x1-headshot-1.jpg"/>
    <div class="illo-list-text">
      <h3 class="list-item-title"><a href="#">Portia Kennel, M.S.W.</a></h3>
      <p class="position">Senior Vice President, Program Innovation, and Executive Director, Educare Learning Network</p>
    </div>
  </li>        
  <li class="illo-list-item staff-list">
    <img class="illo-list-image" src="{{ site.baseurl }}/assets/img/global/1x1-headshot-2.jpg"/>
    <div class="illo-list-text">
      <h3 class="list-item-title"><a href="#">Claire Dunham, L.C.S.W.</a></h3>
      <p class="position">Senior Vice President, Programs and Training</p>
    </div>
  </li>
</ul>