<ul class="illo-list">
  <li class="illo-list-item">
    <img class="illo-list-image" src="{{ site.baseurl }}/assets/img/global/1x1-1.jpg"/>
    <div class="illo-list-text">
      <h3><a href="#">Educare<i class="ss-icon large left">navigateright</i></a></h3>
      <p>The Ounce of Prevention Fund developed the first Educare school in 2000 in Chicago to prepare low-income children for success in school and life. In 2003, the Ounce and the Buffett Early Childhood Fund created the Educare Learning Network to launch Educare schools across the country.</p>
    </div>
  </li>

  <li class="illo-list-item">
    <img class="illo-list-image" src="{{ site.baseurl }}/assets/img/global/1x1-1.jpg"/>
    <div class="illo-list-text">
      <h3><a href="#">Home Visiting<i class="ss-icon large left">navigateright</i></a></h3>
      <p>In our evidence-based home visiting programs, parent coaches provide child-development and parenting information to help teen parents create safe, stimulating home environments; model positive and language-rich relationships; and ensure families are connected to medical, dental, mental-health, and other supports.</p>
    </div>
  </li>

  <li class="illo-list-item">
    <img class="illo-list-image" src="{{ site.baseurl }}/assets/img/global/1x1-1.jpg"/>
    <div class="illo-list-text">
      <h3><a href="#">Early Head Start / Head Start<i class="ss-icon large left">navigateright</i></a></h3>
      <p>As one of only three federal Early Head Start and Head Start grant recipients in the Chicago area, the Ounce of Prevention Fund provides high-quality child care and birth-to-five services to 1,341 children through partnerships with seven community agencies.</p>
    </div>
  </li>

  <li class="illo-list-item">
    <img class="illo-list-image" src="{{ site.baseurl }}/assets/img/global/1x1-1.jpg"/>
    <div class="illo-list-text">
      <h3><a href="#">Doula<i class="ss-icon large left">navigateright</i></a></h3>
      <p>Every year, doulas trained by the Ounce of Prevention Fund help usher in a healthy start for nearly 1,000 babies. Our network of community-based doula programs at 20 sites throughout Illinois is the first in the country to serve teen parents and to be publicly funded.</p>
    </div>
  </li>          
</ul>