<article class="blog-post">
  <header class="blog-post-header">
    <h1><a href="#">President proposes historic investment in early childhood education</a></h1>
    <div class="l-blog-author-photo">
      <img class="blog-author-photo" src="{{ site.baseurl }}/assets/img/global/1x1-headshot-2.jpg">
    </div>
    <div class="l-blog-metadata">
      <span class="blog-author">Claire Dunham, Ounce of Prevention</span></br>
      <span class="date"><i class="ss-icon metadata-icon">time</i>September 21, 2013</span>
    </div>
  </header>
  
  <p>The First Five Years Fund applauds the work done today by the Senate Subcommittee on Labor, Health and Human Services, Education, and Related Agencies Appropriations to increase funding levels for early learning programs that set children on a path to success in school, career and life. We look forward to this Thursday when we hope the Senate Appropriations Committee will continue championing these efforts and prioritize investments in early childhood education. <a href="#" class="read-more">Read more <i class="ss-icon left">navigateright</i></a></p>
</article>