<ul class="unbulleted-list">
	<li class="list-item-title">What types of policies does the Ounce of Prevention promote?</li>
	<li>We promote policies that: expand access to high-quality early childhood education programs, build sustainable early childhood systems supported by private-public partnerships, emphasize parents as children's first teachers, ensure programs are staffed by a well-trained workforce, and tend to the physical, cognitive and social-emotional needs of young children.</li>
</ul>

<ul class="unbulleted-list">
	<li class="list-item-title">Does the Ounce of Prevention host events?</li>
	<li>The Ounce of Prevention Fund hosts several events throughout the year for civic leaders, advocates, early childhood professionals, and supporters.</li>
</ul>

<ul class="unbulleted-list">
	<li class="list-item-title">What's the easiest way to support the Ounce of Prevention?</li>
	<li>You can make a tax-deductible gift to the Ounce online <a href="#">here</a>.</li>
</ul>