<section class="l-main-content-wide">
  <div class="container">

    <div class="l-2up-1">
      <h2><a href="#">Our Events<i class="ss-icon left large">navigateright</i></a></h4>
      <p>The Ounce of Prevention Fund hosts several events throughout the year for civic leaders, advocates, early childhood professionals, and supporters.</p>
      <h3 class="section-title">Upcoming Events</h3>
        <ul class="unbulleted-list rule-above">
          <li>              
            <span class="list-item-title"><a href="#">ADORE 2013: A Day of Recognition<i class="ss-icon left">navigateright</i></a></span></br>
            <span class="date"><i class="ss-icon metadata-icon">date</i>October 22, 2013</span>
          </li>

          <li>
            <span class="list-item-title"><a href="#">Advocacy Training: Make an Impact with Social Media<i class="ss-icon left">navigateright</i></a></span></br>
            <span class="date"><i class="ss-icon metadata-icon">date</i>October 27 – November 1, 2013</span>
          </li>

          <li>
            <span class="list-item-title"><a href="#">2013 Head Start Preservice Conference<i class="ss-icon left">navigateright</i></a></span></br>
            <span class="date"><i class="ss-icon metadata-icon">date</i>Decemeber 5–7, 2013</span>
          </li>            

        </ul>
    </div>

    <div class="l-2up-2">
      <h2><a href="#">Our Publications<i class="ss-icon left large">navigateright</i></a></h4>
      <p>Each year, the Ounce of Prevention Fund publishes documents that reflect the latest thinking on issues in the field of early childhood studies.</p>
      <h3 class="section-title">Featured Publications</h3>
      <ul class="unbulleted-list rule-above">
        <li><a href="#">12 Days of Early Literacy Tips<i class="ss-icon left">navigateright</i></a></li>
        <li><a href="#">A New Beginning: The Illinois Kindergarten Individual Development Survey<i class="ss-icon left">navigateright</i></a></li>
        <li><a href="#">Characteristics of Quality Early Learning Environments<i class="ss-icon left">navigateright</i></a></li>
      </ul>
    </div>

  </div>
</section>