<section class="l-main-content-wide">
  <div class="container">
    <div class="l-2up-1">
      <img src="{{ site.baseurl }}/assets/img/global/2x1-4.jpg"/>
    </div>
    <div class="l-2up-2">
      <h2><a href="#">First Five Years Fund Statement on Senate FY 14 Appropriations for Early Learning</a></h2>
      <div class="article-metadata">
        <p class="source"><i class="ss-icon metadata-icon">news</i>Ounce PR Dept.</p>
      </div>
      <p>The First Five Years Fund applauds the work done today by the Senate Subcommittee on Labor, Health and Human Services, Education, and Related Agencies Appropriations to increase funding levels for early learning programs that set children on a path to success in school, career and life.</p>        
    </div>
  </div>
</section>