<section class="l-callout">
  <div class="container">
    <figure class="l-callout__image">
      <img class="callout__circle-image" src="{{ site.baseurl }}/assets/img/global/1x1-2.jpg"/>
    </figure>
    <div class="l-callout__content-block">
      <h1 class="section-title">Make a gift</h1>
      <h2 class="display-text">You can make a tax-deductible gift to the Ounce in one of the following ways:</h2>
      <nav class="subnavigation margin-fix ">
        <ul class="two-col">
          <li><a href="#">Online Gift<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Pledge Gift<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Tributes: Honor or Memorial<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Stock/Investment Gift<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Planned Gift or Bequest<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Sponsor an Event<i class="ss-icon left">navigateright</i></a></li>                                        
        </ul>
      </nav>      
    </div>
  </div>
</section>