<aside class="l-sidebar-block">
  <h4 class="section-title">Related Stories</h4>
  
  <ul class="unbulleted-list">
    <li>   
      <article class="featured-list-item">
        <img class="featured-list-item-image" src="{{ site.baseurl }}/assets/img/global/2x1-1.jpg"/>
        <h3 class="list-item-title"><a href="#">President proposes historic investment in early childhood education</a></h3>
        <p class="source"><i class="ss-icon metadata-icon">news</i>www.atlantic.com</p>
      </article>
    </li>
    <li>
      <article class="related-list-item">
        <h3 class="list-item-title"><a href="#">Ounce of Prevention Fund Explores Early Learning Issues in New Policy Conversations Series</a></h3>
        <p class="source"><i class="ss-icon metadata-icon">news</i>Ounce PR Dept.</p>
      </article>
    </li>
    <li>
      <article class="related-list-item">
        <h3 class="list-item-title"><a href="#">Renowned expert on early brain development to speak at Ounce of Prevention Fund luncheon</a></h3>
        <p class="source"><i class="ss-icon metadata-icon">news</i>www.cnn.com</p>
      </article>
    </li>
    <li>
      <article class="related-list-item">
        <h3 class="list-item-title"><a href="#">President proposes historic investment in early childhood education</a></h3>
        <p class="source"><i class="ss-icon metadata-icon">news</i>www.atlantic.com</p>
      </article>        
    </li>
</aside>