<nav class="subnavigation">
  <ul>
    <li><a href="#" class="level-1">Initiatives<i class="ss-icon subnavigation__icon">navigateright</i></a>
      <ul>
        <li><a href="#">Educare</a></li>
        <li><a href="#">Home Visiting</a></li>
        <li><a href="#">Early Head Start / Head Start</a>
          <ul>
            <li><a href="#">Third-level Item One</a></li>
            <li><a href="#" id="you-are-here">Third-level Item Two</a>
            <ul>
              <li><a href="#">Fourth-level Item One</a></li>
              <li><a href="#">Fourth-level Item Two</a></li>
            </ul>
          </li>
          </ul>
        </li>
        <li><a href="#">Doula</a></li>
      </ul>
    </li>
    <li><a href="#" class="level-1">Research<i class="ss-icon subnavigation__icon">navigateright</i></a></li>
    <li><a href="#" class="level-1">Professional Development<i class="ss-icon subnavigation__icon">navigateright</i></a></li>
    <li><a href="#" class="level-1">Policy / Advocacy<i class="ss-icon subnavigation__icon">navigateright</i></a></li>
    <li><a href="#" class="level-1">Contact Us<i class="ss-icon subnavigation__icon">navigateright</i></a></li>
  </ul>
</nav>                                
