<section class="get-involved-landing-2 wall-to-wall">
  <img class="wall-to-wall__mobile-image" src="{{ site.baseurl }}/assets/img/global/wall-to-wall-4.jpg"/>  
  <div class="container">
    <div class="l-wall-to-wall__content-block-left">
      <h1 class="section-title">Take Action</h1>
      <h2 class="display-text">Advocate for Early Childhood</h2>
      <nav class="subnavigation">
        <ul>
          <li><a href="#">Advocacy Action Center<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Contact your Legislator<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Sign-up to receive Action Alerts<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Request an Ounce speaker for an advocacy presentation<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Ask an advocacy question<i class="ss-icon left">navigateright</i></a></li>
        </ul>
      </nav> 
    </div>
  </div>
</section>
