/* =============================================================================
   Global Button Styles
   ========================================================================== */

/* Button - sets common button styles
   ============================================================== */

.btn {
	display: inline-block;
  @include adjust-font-size-to($small-body-text, 1);
	font-weight: 600;
	padding: 17px 12px 16px;		
	text-align: center;
	text-decoration: none;	
}
.btn:link,
.btn:visited {
	border: 1px solid $ounce-purple-lighten;
	border-radius: $rounded;
	color: $ounce-purple;
	background-color: #fff;	
}
.btn:hover,
.btn:active {
	border: 1px solid $ounce-purple;
	color: #fff;
	background-color: $ounce-purple;
}

.inline {
	margin-bottom: $slug / 2;
}

.btn.donate {
	margin-top: 14px;
	padding: 12px 12px 11px;
	text-transform: uppercase;
	color: #fff;
}
.btn.donate:link,
.btn.donate:visited {
	border: 1px solid $ounce-purple;
	border-radius: $rounded;
	background-color: $ounce-purple;	
}
.btn.donate:hover,
.btn.donate:active {
	border: 1px solid $ounce-orange;
	color: #fff;
	background-color: $ounce-orange;
}