---
layout: post
title: "Inline Image"
description: Inline Photo (suggested 2:1 aspect ratio) with an optional caption can be placed into the content area of any general page.
categories: components
---
<section class="styleguide-example">
	<div class="container">
		<div class="l-66-33--1">
		  {% include inline-image.html %}
		</div>
	</div>
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include inline-image.html %}
{% endhighlight %}
  </div>
</section>