---
layout: post
title: "Inline Illustrated List"
description: For shorter lists of content that require any extra layer of presentation.
categories: Components
---
<section class="styleguide-example">
	<div class="container">
		<div class="l-66-33--1">
		  {% include inline-illustrated-list.html %}
		</div>
	</div>
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include inline-illustrated-list.html %}
{% endhighlight %}
  </div>
</section>