---
layout: post
title: "Inline Article List"
description: Lists of News articles can be curated and placed into the content area of any general page.
categories: Components
---
<section class="styleguide-example">
	<div class="container">
		<div class="l-66-33--1">
		  {% include inline-article-list.html %}
		</div>
	</div>
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include inline-article-list.html %}
{% endhighlight %}
  </div>
</section>