---
layout: post
title: "Wall to Wall Hero Area"
description: This componet highlights a specific section of the site, with a large photography asset. The caption block is highly flexible, and can house headlines, text, buttons and lists of curated destination links.
categories: Components
---
<section class="styleguide-example">
  {% include wall-to-wall.html %}
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include wall-to-wall.html %}
{% endhighlight %}
  </div>
</section>