---
layout: post
title: "Article Title and Metadata"
description: All general pages require a "Page title". Metadata is used exclusively on News Story pages.
categories: Components
---
<section class="styleguide-example">
	<div class="container">
		<div class="l-66-33--1">
		  {% include inline-article-title.html %}
		</div>
	</div>
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include inline-article-title.html %}
{% endhighlight %}
  </div>
</section>