---
layout: template
title: "General (with sample News article content)"
categories: templates
---
<!-- Header & Nav partial -->  
{% include site-header.html %}

<div class="container">
  <!-- Page Content -->
  <div class="l-main-content">
    <article>
      {% include inline-article-title.html %}

      <figure>
        <img class="article-image" src="{{ site.baseurl }}/assets/img/global/2x1-3.jpg"/>
        <figcaption>This is an optional caption about the above news article photo.</figcaption>
      </figure>
      
      <p class="deck">The Senate Labor, Health and Human Services, Education, and Related Agencies Appropriations Subcommittee marked up their FY14 appropriations bill earlier this morning. The First Five Years Fund issued the following statement: </p>
      <p>The First Five Years Fund applauds the work done today by the Senate Subcommittee on Labor, Health and Human Services, Education, and Related Agencies Appropriations to increase funding levels for early learning programs that set children on a path to success in school, career and life. We look forward to this Thursday when we hope the Senate Appropriations Committee will continue championing these efforts and prioritize investments in early childhood education.</p>
      <p>During markup for the Fiscal Year 2014 Appropriations bill, the subcommittee recognized that learning begins at birth and that funding early childhood education is one of the best economic investments our country can make. Nobel Prize-winning economist James Heckman has demonstrated that high-quality early learning for disadvantaged children from birth to five not only prepares them for academic success, but also grows the economy through a 7-10 percent return – per child, per year – to taxpayers through improved education, health and social outcomes and decreased social spending.</p>
      <p>During today’s markup, Senate Health, Education, Labor and Pension Committee Chairman Sen. Tom Harkin said, "In the area of early childhood care and education, the bill provides dramatic increases for Head Start and the Child Care Development Block Grant, and adds new funding for the Preschool Development Grants program, which will help states improve the quality of their preschool services.”</p>
      <p>We are pleased that the subcommittee provided much-needed resources to states and communities to expand high quality early childhood programs for children birth to age 5, and are hopeful that today’s legislative developments will have a profound impact on the development and well-being of our nation’s youngest children.</p>
      
      <h2>Commending Decisions</h2>
      <p>The First Five Years Fund commends the subcommittee’s decisions to:</p>
      <ul>
        <li>Leverage existing Early Head Start and child care resources by providing $1.6 billion in funding to expand Early Head Start through the Early Head Start-Child Care Partnerships. This will serve more infants and toddlers, and maintain quality in the existing Head Start and Early Head Start programs</li>
        <li>Allot $750 million for Preschool Development Grants which will enable states to build and strengthen local preschool systems and opportunities, as laid out by the President’s Preschool for All proposal.</li>
        <li>Provide an additional $176 million for the Child Care Development Fund to promote high quality care and development.</li>
        <li>Support young children with disabilities and their families through $21 million in additional funding to strengthen statewide early intervention systems.</li>
      </ul>      
      <p>We are especially pleased to see the nation’s lawmakers making fiscal policy decisions that reflect all of the knowledge we have about human development. Ninety percent of physical brain growth happens in the first five years of life, with the early cognitive and character skills gained during those years providing the foundation for later success in school, career and life. Focusing on early childhood education is a common sense approach that lawmakers on both sides of the political aisle recognize and are pushing forward. Today’s efforts hold the potential to help children be prepared for school and become confident learners, productive workers and successful adults – helping grow the economy and create a stronger America for generations to come.</p>
    
      <footer>
        <div class="share-this">
          <img src="{{ site.baseurl }}/assets/img/global/share-this.png">
        </div>
      </footer>

    </article>
  </div>

  <!-- Rail Content -->
  <div class="l-rail">
    <!-- Sub Nav -->
    {% include rail-subnavigation-lvl-2.html %}

    <!-- Related Content -->
    {% include rail-related-content.html %}

    <!-- Promo -->
    <aside class="rail-promo">
    </aside>
  </div>  
</div>

<!-- Footer partial -->  
{% include site-footer.html %}