---
layout: post
title: "Blog Post Footer Tags"
description: The footer of an individual post displays any tags associated with the post's content.
categories: components
---
<section class="styleguide-example">
	<div class="container">
		<div class="l-66-33--1">
		  {% include inline-blog-post-tags.html %}
		</div>
	</div>
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include inline-blog-post-tags.html %}
{% endhighlight %}
  </div>
</section>