---
layout: post
title: "Blog Post Rollup"
description: Individual posts are displayed as a rollup on the Blog Landing page, and listing / archive pages.
categories: components
---
<section class="styleguide-example">
	<div class="container">
		<div class="l-66-33--1">
		  {% include inline-blog-post-rollup.html %}
		</div>
	</div>
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include inline-blog-post-rollup.html %}
{% endhighlight %}
  </div>
</section>