---
layout: template
title: "Landing (with Home page content)"
categories: templates
---
<!-- Header & Nav partial -->  
{% include site-header.html %}

<!-- Intro -->
<section class="intro wall-to-wall">
  <img class="wall-to-wall__mobile-image" src="{{ site.baseurl }}/assets/img/global/wall-to-wall-1.jpg"/>  
  <div class="container">
    <div class="l-wall-to-wall__content-block-right">
      <h1 class="display-text">Inspire what’s possible.</h1>
      <p>Since 1982, the Ounce of Prevention Fund has persistently pursued a single goal: that all American children – particularly those born into poverty – have quality early childhood experiences in the crucial first five years of life.</p>
      <a href="#" class="btn">Get Involved<i class="ss-icon left">navigateright</i></a>
    </div>
  </div>
</section>

<!-- The Problem -->
<section class="l-callout">
  <div class="container">
    <figure class="l-callout__image">
      <img class="callout__circle-image" src="{{ site.baseurl }}/assets/img/global/1x1-1.jpg"/>
    </figure>
    <div class="l-callout__content-block">
      <h1 class="section-title">The Problem</h1>
      <h2 class="display-text">At-risk children who don’t receive a high-quality early childhood education are: FPO disarming statistic about quality ECE.</h2>
      <a href="#" class="btn">Our Research<i class="ss-icon left">navigateright</i></a>
    </div>
  </div>
</section>

<!-- How We Help -->
<section class="how-we-help wall-to-wall">
  <img class="wall-to-wall__mobile-image" src="{{ site.baseurl }}/assets/img/global/wall-to-wall-2.jpg"/>  
  <div class="container">
    <div class="l-wall-to-wall__content-block-left">
      <h1 class="section-title">How We Help</h1>
      <h2 class="display-text"><a href="#">Springfield mother turns personal story into advocacy</a></h2>
      <p>When Breanna Brosam found out she wouldn’t be able to enroll her 3-year-old daughter Aniyah in preschool, she knew she had to act. So she came to the Ounce of Prevention Fund’s Early Childhood Advocacy Day on April 16 in Springfield to share her story with her legislator.</p>
      <a href="#" class="btn">Read this story<i class="ss-icon left">navigateright</i></a>
    </div>
  </div>
</section>

<!-- Featured Content -->
{% include landing-grid-list.html %}

<!-- Get Involved -->
<section class="get-involved">
  <div class="container l-get-involved">
    <div class="l-get-involved__intro">
      <h1 class="section-title">Get Involved</h1>
      <h2 class="display-text">Join us and help the Ounce of Prevention Fund change the lives of at-risk young children.</h2>  
    </div>
    <nav class="l-get-involved__nav subnavigation">
      <ul>
        <li><a href="#">Make a Gift <i class="ss-icon">navigateright</i></a></li>
        <li><a href="#">Advocate for Early Childhood <i class="ss-icon">navigateright</i></a></li>
        <li><a href="#">Attend an Event <i class="ss-icon">navigateright</i></a></li>
        <li><a href="#">Read our Publications <i class="ss-icon">navigateright</i></a></li>
        <li><a href="#">Tour Educare of Chicago <i class="ss-icon">navigateright</i></a></li>
      </ul>
    </nav>
  </div>
</section>

<!-- Footer partial -->  
{% include site-footer.html %}