---
layout: post
title: "Site Footer"
description: The footer navigation promotes the Ounce's network of sites (these link off-site) and a handful of social media accounts. The organizational navigation is completely exposed, and arranged in an easy to parse grid of links.
categories: Components
---
<section class="styleguide-example">
  {% include site-footer.html %}
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include site-footer.html %}
{% endhighlight %}
  </div>
</section>