---
layout: post
title: "Landing Get Involved CTA"
description: This component designed specifically for content used to promote the different ways to get involved. It has potential to be repurposed for future content needs.
categories: Components
---
<section class="styleguide-example">
	{% include landing-get-involved.html %}
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include landing-get-involved.html %}
{% endhighlight %}
  </div>
</section>