---
layout: template
title: "General (with Educare content)"
categories: templates
---
<!-- Header & Nav partial -->  
{% include site-header.html %}

<div class="container">
  <!-- Page Content -->
  <div class="l-main-content">
    <article>
      <h1>Educare</h1>
      
      {% include inline-image.html %}
      
      <p class="deck">Launched by the Ounce of Prevention Fund in 2000, Educare works to narrow the achievement gap between at-risk children and their more advantaged peers by giving students the skills they need to succeed in school.</p>
      <p>The Ounce of Prevention Fund developed the first Educare school in 2000 in Chicago to prepare low-income children for success in school and life. In 2003, the Ounce and the Buffett Early Childhood Fund created the Educare Learning Network to launch Educare schools across the country.</p>
      <p>Each Educare school provides quality care and early education to infants, toddlers, preschoolers, and their families. Science shows that early, quality intervention is needed to narrow the academic achievement gap for students in high-risk communities.</p>
      
      <h2>Educare is:</h2>
      <ul>
        <li>A research-based Program that prepares young, at-risk children for school.</li>
        <li>A specially designed Place that nurtures early learning and sends a bold message about the value of investing in the first five years.
        <li>An innovative Partnership between the public and private sectors to create a more efficient, more effective early learning program.</li>
        <li>A compelling Platform to drive change among policymakers, business leaders and early childhood providers by showing what quality early learning looks like.</li>                        
      </ul>

      <h2 class="section-title">Related Resources</h2>
      <ul>
        <li><a href="#">The Educare Schools website<i class="ss-icon">navigateright</i></a></li>
        <li><a href="#">Educare Learning Network Implementation Study<i class="ss-icon">navigateright</i></a></li>
      </ul>

      <footer>
        <div class="share-this">
          <img src="{{ site.baseurl }}/assets/img/global/share-this.png">
        </div>
      </footer>
              
    </article>
  </div>

  <!-- Rail Content -->
  <div class="l-rail">
    <!-- Sub Nav -->
    {% include rail-subnavigation-lvl-3.html %}

    <!-- Promo -->
    <aside class="rail-promo">
    </aside>
  </div>  
</div>

<!-- Footer partial -->  
{% include site-footer.html %}