---
layout: template
title: "Landing (with Get Involved content)"
categories: Templates
---
<!-- Header & Nav partial -->  
{% include site-header.html %}

<!-- Intro -->
<section class="get-involved-landing wall-to-wall">
  <img class="wall-to-wall__mobile-image" src="{{ site.baseurl }}/assets/img/global/wall-to-wall-3.jpg"/>  
  <div class="container">
    <div class="l-wall-to-wall__content-block-right">
      <h1 class="section-title">Get Involved</h1>
      <h2 class="display-text">Quality in Action</h2>
      <p>Educare of Chicago is the Ounce of Prevention Fund's state-of-the-art school that serves approximately 150 at-risk infants, toddlers, and preschoolers in Chicago's Grand Boulevard neighborhood. We invite you to tour Educare to learn why it has become a national model at narrowing the achievement gap for low-income children.</p>
      <a href="#" class="btn">Schedule a Tour<i class="ss-icon left">navigateright</i></a>
    </div>
  </div>
</section>

<!-- Make a Gift -->
<section class="l-callout">
  <div class="container">
    <figure class="l-callout__image">
      <img class="callout__circle-image" src="{{ site.baseurl }}/assets/img/global/1x1-2.jpg"/>
    </figure>
    <div class="l-callout__content-block">
      <h1 class="section-title">Make a gift</h1>
      <h2 class="display-text">You can make a tax-deductible gift to the Ounce in one of the following ways:</h2>
      <nav class="subnavigation margin-fix ">
        <ul class="two-col">
          <li><a href="#">Online Gift<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Pledge Gift<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Tributes: Honor or Memorial<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Stock/Investment Gift<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Planned Gift or Bequest<i class="ss-icon left">navigateright</i></a></li>
          <li><a href="#">Sponsor an Event<i class="ss-icon left">navigateright</i></a></li>                                        
        </ul>
      </nav>      
    </div>
  </div>
</section>

<!-- Advocacy Wall to Wall -->
{% include wall-to-wall.html %}

<!-- Ways to Get Involved -->
{% include landing-get-involved.html %}

<!-- Footer partial -->  
{% include site-footer.html %}