---
layout: post
title: "Site Header"
description: The header navigation is designed to create a distinction between the narrative items (The Problem, Our Methods) and the organizational items (Who We Are, What We Do). The children of an organizational item are easily accessed via drop-down navigation.
categories: Components
---
<section class="styleguide-example">
  {% include site-header.html %}
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include site-header.html %}
{% endhighlight %}
  </div>
</section>